
body { color: black; font-size: 12px; font-family: arial, helvetica, geneva, sans-serif; background-color: #646161; background-image: url(/Media/hg.gif); background-repeat: repeat; }
.navtop { font-size: 14px; font-weight: bold; }
