/* Login Layout */

#login-container { 
width:300px;
margin:50px auto 0 auto;
background-color:#F9F9F9
}
div.login-content {
margin:0 auto;
width:300px;
padding:0;
text-align:left;
background-color:#FFFFFF;
border:1px solid #6F6F6F;
}
div.login-content div.login-content-main { padding:4px 14px 20px 14px; }
.login-logo { text-align:center }
#login-container label { font-weight:bold }
#login-container input.text-field { width:266px; margin:2px 0 10px 0; }
.login-button { float:right; display:inline;margin-top:-15px;margin-right:2px;}
.send-button { float:right; display:inline;margin-top:-15px;margin-right:2px;}
#login-indicator { float:left; display:inline; height:36px; font-size:12px; font-weight:bold;margin-top:10px; }
#login-indicator-msg { width:190; float:left; display:inline; }
div.login-content .login-msg-process {
	height:28px;
	line-height:28px;
	background:url(../images/indicator-lite.gif) no-repeat left;
	text-indent:3em;
	padding-top:4px;	
	color:#333333;	
}
div.login-content .login-msg-valid { padding-top:4px; color:#333333; }
div.login-content .login-msg-error { padding-top:4px; color:#DF0000; }
#login-credit { text-align:center; }